.list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 30px;
}

.item {
  position: relative;
  font-size: 17px;
  padding: 2px 0;
  align-items: center;
  flex-wrap: wrap;
}

.btn {
  border: 0;
  font-size: 12px;
  padding: 3px 7px;
  background-color: rgb(230, 227, 227);
  margin-left: 7px;
  cursor: pointer;
  border-radius: 7px;
  border: 1px solid transparent;
  transition: border-bottom 150ms;
}

.btn:hover {
  background-color: rgb(96, 150, 243);
}

.span {
  margin-left: 10px;
}
